var BACKEND_BASE_URL = {
    development: 'http://inscricoes-backend',
    production: 'https://inscricoes.horadecorrer.com'
}

module.exports = {
    development: {
        BACKEND_URL: {
            LOGIN: '"' + BACKEND_BASE_URL.development + '/oauth2/token' + '"',
            SKEL: '"' + BACKEND_BASE_URL.development + '/site/skel' + '"',
            CREATE: '"' + BACKEND_BASE_URL.development + '/site/create' + '"',
            INFO: '"' + BACKEND_BASE_URL.development + '/frontend/info' + '"',
            PAYMENT: '"' + BACKEND_BASE_URL.development + '/frontend/payment' + '"',
            SENHA: '"' + BACKEND_BASE_URL.development + '/site/senha' + '"',
            NOVASENHA: '"' + BACKEND_BASE_URL.development + '/site/novasenha' + '"',
            DATASERVER: '"' + BACKEND_BASE_URL.development + '/site/dataserver' + '"'
        }
    },
    production: {
        BACKEND_URL: {
            LOGIN: '"' + BACKEND_BASE_URL.production + '/oauth2/token' + '"',
            SKEL: '"' + BACKEND_BASE_URL.production + '/site/skel' + '"',
            CREATE: '"' + BACKEND_BASE_URL.production + '/site/create' + '"',
            INFO: '"' + BACKEND_BASE_URL.production + '/frontend/info' + '"',
            PAYMENT: '"' + BACKEND_BASE_URL.production + '/frontend/payment' + '"',
            SENHA: '"' + BACKEND_BASE_URL.production + '/site/senha' + '"',
            NOVASENHA: '"' + BACKEND_BASE_URL.production + '/site/novasenha' + '"',
            DATASERVER: '"' + BACKEND_BASE_URL.production + '/site/dataserver' + '"'
        }
    }
}
