$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$thumbnail-margin: 20px;

$font-family-sans-serif:  'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-monospace:   'PT Mono', Menlo, Monaco, Consolas, "Courier New", monospace;
